@{
    var uri = Request.Url.ToString();
}
@Styles.Render("~/Content/css")
<div class="container titlecontainer">
    <h2 id="test">League of Mentoring Coach System</h2>
    <p>Currently known coaches of the <strong>League of Mentoring</strong> System
    </p>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-md-6'>
            <div class='search-box'>
                <input class='form-control' placeholder='Search' id="filter" type='text' onblur="Reset(this)">
                <button id="searchbtn"type="submit"class='btn btn-link search-btn' onclick="GetItem()">
                    <i class='glyphicon glyphicon-search'></i>
                </button>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <table class="table table-responsive table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th class="col-sm-1">Discord Tag</th>
            <th>Bio</th>
            <th>Roles</th>
            <th>Champion(s)</th>
            <th class="col-sm-2">Ranking</th>
            <th>Region</th>
            <th>More Info</th>
        </tr>
        </thead>
        <tbody id="coaches"/>
    </table>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    function Fill() {
        // Send an AJAX request
        $.getJSON('/api/LoLCoach/GetLoMCoaches/')
            .done(function(data) {
                var data2 = "";
                var baselink = "http://ddragon.leagueoflegends.com/cdn/7.14.1/img/champion/";
                var extention = ".png";

                // On success, 'data' contains a list of products.
                $.each(data,
                    function(key, item) {
                        var images = "";
                        var size = 4;
                        if (size > item.ChampionsList.length) {
                            size = item.ChampionsList.length;
                        }
                        for (var i = 0; i < size; i++) {
                            images += "<img src=\"" +
                                baselink +
                                capitalize(item.ChampionsList[i].replace("'",""))+ 
                                extention +
                                "\" width=\"40\" height=\"40\"/>";
                        }
                        var link = "error";
                        if (window.location.href.indexOf("Index")!== -1) {
                            var base = window.location.href;
                            base = base.substring(0, base.length - 6);
                            $("#test").html(base + base.length);
                            link = base + '/details/' + item.Id;
                        }
                        else {
                            link = window.location.href + '/details/' + item.Id;
                        }
                    data2 += "<tr><td>" +
                        item.Name +
                        "</td>" +
                        "<td>" +
                        item.Bio +
                        "</td>" +
                        "<td>" +
                        item.RoleShort +
                        "</td>" +
                        "<td>" +
                        //item.ChampionsShort
                        images
                        + "</td>" +
                        "<td class=\"fit\">Unknown V</td>" +
                        "<td>" +
                        item.region +
                        "</td>" +
                        "<td>"+
                        //"<button onclick=\"location.href=\'"+link+"\';\" class=\"btn btn.primary\">More Info</button>" +
                        "<a href=\""+link+"\" class=\"btn btn-info\" role=\"button\">More Info</a>" +
                        "</td></tr>";
                    // Add a list item for the product.
                    // +"<td>"+ item+ "</td>"
                });
                $('#coaches').html(data2);
            });
    }
    $(document).ready(Fill());
    function GetItem() {
        var filter = document.getElementById("filter").value;
        $.getJSON('/api/LoLCoach/GetLoMCoachesFilter/' + filter).done(function (data) {
            var data2 = "";
            var baselink = "http://ddragon.leagueoflegends.com/cdn/7.14.1/img/champion/";
            var extention = ".png";
            // On success, 'data' contains a list of products.
            $.each(data,
                function(key, item) {
                    var images = "";
                    var size = 4;
                    if (size > item.ChampionsList.length) {
                        size = item.ChampionsList.length;
                    }
                    for (var i = 0; i < size; i++) {
                        images += "<img src=\"" +
                            baselink +
                            capitalize(item.ChampionsList[i].replace("'",""))+ 
                            extention +
                            "\" width=\"40\" height=\"40\"/>";
                    }
                    var link;
                    if (window.location.href.indexOf("Index")!== -1) {
                        var base = window.location.href;
                        base = base.substring(0, base.length - 6);
                        $("#test").html(base + base.length);
                        link = base + '/details/' + item.Id;
                    }
                    else {
                        link = window.location.href + '/details/' + item.Id;
                    }
                    data2 += "<tr><td>" +
                        item.Name +
                        "</td>" +
                        "<td>" +
                        item.Bio +
                        "</td>" +
                        "<td>" +
                        item.RoleShort +
                        "</td>" +
                        "<td>" +
                        //item.ChampionsShort
                        images
                        + "</td>" +
                        "<td class=\"fit\">Unknown V</td>" +
                        "<td>" +
                        item.region +
                        "</td>" +
                        "<td>"+
                        //"<button onclick=\"location.href=\'"+link+"\';\" class=\"btn btn.primary\">More Info</button>" +
                        "<a href=\""+link+"\" class=\"btn btn-info\" role=\"button\">More Info</a>" +
                        "</td></tr>";
                    // Add a list item for the product.
                    // +"<td>"+ item+ "</td>"
                });
            $('#coaches').html(data2);
        });
    }
    $("#filter").keyup(function(event){
        if(event.keyCode == 13){
            $("#searchbtn").click();
        }
    });
    function Reset(field) {
        if (field.value == '') {
            Fill();
        }
    }
    function capitalize(string) {
        return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    }
</script>
