
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.titlecontainer {
    margin-top: 4em;
}
.search-box {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 4px 55px 4px 15px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

    .search-box.hovered, .search-box:hover, .search-box:active {
        border: 1px solid #aaa;
    }

    .search-box input[type=text] {
        border: none;
        box-shadow: none;
        display: inline-block;
        padding: 0;
        background: transparent;
    }

        .search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
            box-shadow: none;
        }

    .search-box .search-btn {
        position: absolute;
        right: 2px;
        top: 2px;
        color: #aaa;
        border-radius: 3px;
        font-size: 21px;
        padding: 5px 10px 1px;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }

        .search-box .search-btn:hover {
            color: #fff;
            background-color: #8FBE00;
        }
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }


    .table-user-information > tbody > tr > td {
        border-top: 0;
    }
.profileimage {
    width: 2em;
    height: 2em;
    display: inline
}
.body-content {
    background-color: white !important;
    border: 2px solid black!important;
}
.navbar {
    background-color: black;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.btn-info {
    background-color: #349cd8;
    color: black;
    border: 2px solid gray;
}
