@{
    ViewBag.Title = "Home Page";
}

<div class="container titlecontainer" style="width:97%; border: 2px solid black; border-radius: 15px;">
    <img src="http://i.imgur.com/xMAgKbL.png" height="300px"/>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Our Twitter</h2>
        <a class="twitter-timeline" href="https://twitter.com/ATLBort" data-height="450">Tweets by ATLBort</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-6">
        <h2>Clickbait information</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia ullamcorper orci at congue. In ut viverra mauris. Fusce nec elit eget odio rutrum tincidunt. Proin at tellus sollicitudin, luctus turpis eu, mollis ante. Fusce et mi at magna dapibus semper eu eu neque. Morbi nec laoreet urna. Duis commodo lorem eget lorem tempor, vitae malesuada orci auctor.
        <br/><br/>
            Morbi finibus mi eu augue facilisis venenatis. Quisque mollis neque sem, ut ultricies magna volutpat ut. Aenean et laoreet est. Nunc volutpat, erat ut tempor imperdiet, elit libero commodo velit, non feugiat ligula mi cursus augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque mattis lacus turpis, a auctor est ornare nec. Proin ultrices convallis est vitae gravida. Fusce nibh velit, imperdiet et tortor in, viverra ornare enim. Nunc augue dolor, hendrerit in arcu feugiat, auctor pharetra odio. Mauris iaculis lectus vel vulputate tempor. Fusce eleifend eget magna a sagittis. Nulla consectetur odio at vehicula viverra. Phasellus id dui consectetur, placerat libero at, porttitor odio. Vestibulum venenatis ex enim, et molestie nunc pellentesque a. Mauris lacinia velit at ex consectetur ultricies.
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Our Discord</h2>
        <iframe src="https://discordapp.com/widget?id=227778876540059651&theme=dark" width="250" height="450" allowtransparency="true" frameborder="0"></iframe>
    </div>
</div>